<% layout("/layouts/boilerplate")%>

<h2>All Listings :</h2>
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->

<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing.id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          ₹<%= (listing.price * 83).toLocaleString("en-IN") %> ($<%=
          listing.price.toLocaleString("en-US") %>) / week
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
